.checkout {
    display: flex;
}

.checkout__left {
    flex: 1;
    position: relative;
}

.checkout .checkout__left img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    margin-bottom: 10px;
}

.checkout__title {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}