.checkout {
    display: flex;
    min-height: 100vh;
    background-color: #fff;
}

.checkout__left {
    flex: 1;
    position: relative;
}

.checkout .checkout__left img {
    width: 100%;
    height: 160px;
    object-fit: fill;
    margin-bottom: 10px;
}

.checkout__title {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

@media screen and (max-width:900px) {
    .checkout {
        flex-direction: column;
    }
    .checkout__left {
        order: 1;
    }
    .checkout .checkout__left>img {
        display: none;
    }
}