.header {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #000000;
}

.header__img {
    width: 120px;
    object-fit: contain;
}

.header__search {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 10px;
}

.header__searchInput {
    flex: 1;
    padding: 4px 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.header__searchIcon {
    height: 34px !important;
    padding: 5px;
    cursor: pointer;
    background: var(--yellow);
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color: #fff;
}

.header__link {
    text-decoration: none;
    outline: none;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: #fff;
}

.header__basket {
    cursor: pointer;
}

.header__optionBasket strong {
    margin: 0 10px;
}

.header__menu {
    display: none;
}

.header__menuIcon {
    color: #fff !important;
    font-size: 2rem !important;
}

@media screen and (max-width:900px) {
    .header__nav {
        position: fixed;
        top: 10vh;
        width: 30%;
        height: 100vh;
        padding: 0 1rem 6rem;
        flex-direction: column;
        justify-content: space-around;
        background-color: #000;
        transition: .5s ease-out;
    }
    .header__img {
        width: 80px;
    }
    .header__searchInput {
        padding: 6px 10px;
        font-size: 1rem;
    }
    .header__menu {
        display: flex;
        align-items: center;
    }
}